//colors
$grey: #333333;

//Nav colors
$nav-background: $grey;
$nav-text-color: whitesmoke;

//clock colors
$clock-text-color: dodgerblue;
$clock-bg-color: whitesmoke;
$clock-border-color: dodgerblue;